@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .casino-video .video-box-container {
        max-width: 100%;
    }
    .detail-page-container .market-6 {
        min-width: calc(100% - 6px);
    }
    .raceto17 .casino-video-cards {
        top: 45px;
        transform: unset;
    }
    .raceto17 .casino-video-title .casino-name {
        font-size: 13px;
    }
    .raceto17 .casino-video-rid {
        font-size: 11px;
    }
    .teenpatti2024 .casino-nation-name img {
        height: 15px;
    }
    .note .casino-video-cards {
        width: 50px;
        height: 220px;
        top: 50px;
        transform: unset;
    }
    .note .casino-video-cards span img {
        width: 22px;
    }
    .teenpatti2024 .casino-nation-name img {
        height: 15px;
    }
    .kbc .kbc-btns .btn.btn-primary {
        width: 90px;
        height: 90px;
        font-size: 16px;
    }
    .sicbo-middle-midle .sicbo-square-box {
        padding: 0;
        height: 42px;
    }
    .sicbo-middle-midle .sicbo-title-box {
        padding: 0 2px;
        font-size: 8px;
        min-width: unset;
    }
    .sicbo-middle-middle-row .sicbo-cube-box {
        width: 28px;
    }
    .sicbo-cube-single img {
        height: 25px;
    }
    .sicbo-cube-double img {
        height: 15px;
    }
    .sicbo-cube-tripple img {
        height: 10px;
    }
    .sicbo-bottom .sicbo-cube-box {
        height: 50px;
        width: 42px;
    }
    .sicbo-cube-combination img {
        height: 17px;
    }
}

@media only screen and (min-width: 1280px) {
    .d-none-desktop {
        display: none !important;
    }
    .race20 .total-points {
        display: none;
    }
}

@media only screen and (min-width: 1600px) {
    .d-none-lg {
        display: none !important;
    }
    .race20 .total-points {
        display: flex;
    }
    /* .race20 .casino-video-cards {
        top: 60%;
    } */
}

@media only screen and (min-width: 768px) {
    .d-none-big {
        display: none !important;
    }
    .cards32b .casino-bl-box-item.suspended.lock-top:before {
        background-position: center;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1599px) {
    .race20 .casino-video-last-results img {
        width: 22px;
    }
    .trap .casino-video-cards {
        height: 305px;
        width: 100px;
        top: 80px;
        transform: unset;
    }
    .trap .casino-video-cards span img {
        width: 22px;
    }
    .teenpatti2cards .casino-video-cards {
        width: 120px;
        top: 80px;
        transform: unset;
    }
    .casino-vieo-rules {
        height: calc(100% - 125px);
    }
    .sin-khal .casino-video-title .casino-name {
        font-size: 14px;
    }
    .sin-khal .casino-video-rid {
        font-size: 12px;
    }
    .muflis .casino-video-title .casino-name {
        font-size: 14px;
    }
    .muflis .casino-video-rid {
        font-size: 12px;
    }
    .casino-banner-item .slot-title {
        font-size: 16px;
    }
    .raceto17 .casino-video-cards {
        width: 85px;
        height: 235px;
    }
    .raceto17 .casino-video-cards span img {
        width: 25px;
    }
    .teenpatti20b .casino-video-title .casino-name {
        font-size: 14px;
    }
    .teenpatti20b .casino-video-rid {
        font-size: 12px;
    }
    .teen1oneday .casino-video-cards,
    .teen1t20 .casino-video-cards {
        height: 190px;
    }
    .vcasino .casino-video-cards {
        width: 150px;
        height: 115px;
    }
    .vcasino .casino-video-cards img {
        width: 35px;
    }
    .vcasino .vcasino-cards {
        width: 70%;
    }
    .dragon-section,
    .tiger-section {
        width: 100%;
    }
    .vdt1day .dpt-box {
        height: auto;
    }
    .vdt1day .dragon-box .dt-name,
    .vdt1day .pair-box .dt-name,
    .vdt1day .tie-box .dt-name,
    .vdt1day .tiger-box .dt-name {
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .vdt1day .dragon-box .dt-odds,
    .vdt1day .tiger-box .dt-odds,
    .vdt1day .pair-box .dt-odds {
        width: 100%;
    }
    .vlucky7 .other-odds .back-box {
        width: 24%;
    }
    .vlucky7 .vcasino-card-box-top .vcasino-card-box {
        width: 14%;
    }
    .vbt .odds-book {
        font-size: 12px;
    }
    .vbt .back-box .dt-name {
        font-size: 11px;
    }
    .duskadum .casino-video-current-card img {
        width: 32px;
    }
    .one-card-meter .casino-video-cards {
        height: 75px;
        width: 120px;
    }
    .sicbo-title-box {
        padding: 0 10px;
        font-size: 9px;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
    .trap .casino-video-cards {
        height: 260px;
        top: 70px;
        transform: unset;
    }
    .trap .casino-video-cards span img {
        width: 20px;
    }
    .note .casino-video-cards {
        width: 50px;
        height: 220px;
        top: 50px;
        transform: unset;
    }
    .note .casino-video-cards span img {
        width: 22px;
    }
    .vcasino .casino-video-last-results {
        width: 195px;
        height: 65px;
    }
    .vcasino .casino-video-last-results a.result-more {
        width: 35px;
        line-height: 45px;
        height: 55px;
    }
}

@media only screen and (min-width: 1367px) and (max-width: 1599px) {
    .trap .casino-video-cards {
        height: 285px;
        top: 70px;
        transform: unset;
    }
    .trap .casino-video-cards span img {
        width: 17px;
    }
    .note .casino-video-cards {
        width: 50px;
        height: 220px;
        top: 50px;
        transform: unset;
    }
    .note .casino-video-cards span img {
        width: 22px;
    }
    .teenpatti2024 .casino-nation-name img {
        height: 22px;
    }
    .note .casino-video-cards {
        top: 55px;
        transform: unset;
    }
    .kbc .kbc-btns .btn.btn-primary {
        width: 90px;
        height: 90px;
        font-size: 16px;
    }
    .vcasino .casino-video-last-results {
        width: 195px;
        height: 65px;
    }
    .vcasino .casino-video-last-results a.result-more {
        width: 35px;
        line-height: 45px;
        height: 55px;
    }
    .vcasino .casino-video-last-results {
        width: 100%;
        height: auto;
    }
    .vcasino .casino-video-last-results span,
    .vcasino .casino-video-last-results a {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .vcasino .casino-video-last-results a.result-more {
        width: 35px;
        line-height: 25px;
        height: 35px;
    }
    .sicbo-middle-middle-row .sicbo-title-box {
        padding: 0 5px;
        font-size: 9px;
        min-width: unset;
    }
    .sicbo-middle-middle-row .sicbo-cube-box {
        width: 32px;
    }
    .sicbo-cube-single img {
        height: 30px;
    }
    .sicbo-cube-double img {
        height: 17px;
    }
    .sicbo-cube-tripple img {
        height: 12px;
    }
    .sicbo-bottom .sicbo-cube-box {
        width: 50px;
        flex: 1;
    }
    .sicbo-middle-top-box-odd {
        min-width: 40px;
        font-size: 10px;
        padding: 0;
    }
    .sicbo-middle-top-box-odd {
        margin: 0 2px;
    }
}

